<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.studytor.app">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <!-- For Firebase Analytics -->
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <application
        android:name=".globals.Global"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="android.max_aspect"
            android:value="2.1" />

        <activity
            android:name=".activities.ActivityMain"
            android:exported="true"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.ActivityInstitutionProfile"
            android:label="Studytor School Profile" />

        <service
            android:name=".sync.ProfileRegister"
            android:exported="false" />
        <service
            android:name=".sync.ProfileSetToServer"
            android:exported="false" />
        <service
            android:name=".sync.FcmListenerService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <service
            android:name=".sync.InstanceIDListenerService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>

        <receiver
            android:name=".sync.MainReceiver"
            android:exported="true"> <!-- android:debuggable="true" -->
            <intent-filter>

                <!-- <action android:name="android.net.conn.CONNECTIVITY_CHANGE" /> TODO SHOULD IT BE COMMENT OF SHOULD IT WORKS? -->
                <action android:name="android.intent.action.MY_PACKAGE_REPLACED" />
            </intent-filter>
        </receiver>

        <activity android:name=".activities.ActivitySingleNews" />
        <activity
            android:name=".activities.ActivityScheduleTimetable"
            android:theme="@style/blueStatusBar" />
        <activity
            android:name=".activities.ActivitySettings"
            android:label="@string/title_activity_settings"></activity>
    </application>

</manifest>